body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.social {
  text-align: left;
}

.social > a {
  color: #5e5e5e !important;
  font-size: 20px;
}

.social > a:hover {
  font-size: 25px;
  transition: all 0.3s ease-in-out;
}

.copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  color: #ffffff !important;
  margin-bottom: 15px;
}

.albumBtn {
  margin: 10px 10px 10px 10px;
  background-color: yellowgreen;
}

.trackBtn {
  margin: 10px 10px 10px 10px;
  background-color: rgb(237, 241, 7);
}
.hoverEffect:hover {
  background-color: #5cb85c;
  opacity: 0.9;
}

@media only screen and (max-width: 600px) {
  .mediaQuery {
    display: none !important;
  }
}
